[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = ">=4.11.1"
requests = ">=2.28.1"
selenium = ">=4.6.0"
types-beautifulsoup4 = "*"
types-requests = "*"
pyjpboatrace = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"
mypy = "*"
twine = "*"
wheel = "*"
pytz = "*"
types-pytz = "*"
