name: Pytest

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PRIVATE_REPO_USER: "hmasdev"
      PRIVATE_REPO_NAME: "pyjpboatrace-private"
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/checkout@v1
        with:
          repository: ${{ env.PRIVATE_REPO_USER }}/${{ env.PRIVATE_REPO_NAME }}
          token: ${{ secrets.GITHUBPAT }}
          ref: master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv --rm
          pipenv sync --dev
      - name: Lint
        run: |
          pipenv run flake8 . --show-source
      - name: Test
        run: |
          shopt -s dotglob
          mkdir -p ../_workspace
          cp -r ./* ../_workspace/

          while read line
          do
            if [ -e ../${{ env.PRIVATE_REPO_NAME }}/$line ]
            then 
              mkdir -p ../_workspace/$line
              cp -r ../${{ env.PRIVATE_REPO_NAME }}/$line/* ../_workspace/$line/
            fi
          done < ./.private

          cd ../_workspace
          pipenv run pytest
          cd ..
          rm -r _workspace
